<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-envelope fa-6x"></i>
    <p class="lead"> <b>Email SENT Successfully!</b></p>
    <p> Click on the verification link to login.</p>
    <hr>

  </div>
</div>

<%- include('partials/footer') %>
