<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-frown fa-6x"></i>
    <p class="lead"> <b> FAILURE :( </b></p>
    <p> This can happen due to following reasons:</p>
    <p> 1. Wrong Login Credentials</p> <br/>
    <p> 2. Try using another email ID.</p> <br/>
    <p> 3. Incorrect Verification Link / Link expired</p> <br/>
    <hr>

    <a class="btn btn-light btn-lg" href="/" role="button">Home</a>

  </div>
</div>

<%- include('partials/footer') %>