<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-user-secret fa-6x"></i>
    <h1 class="display-3">Web 51</h1>
    <p class="lead">Authorized Access only. Register or Login to access Stealthy information from across the web.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signup" role="button">Sign Up</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
