<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>
  <p> You will be sent a secret Authentication Token on your registered Email ID. <br/>
  Click on the "Verification Link" to login to your Stealth Account. </p>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>

<%- include('partials/footer') %>
