<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user-secret fa-6x"></i>
    <h1 class="display-3">WELCOME TO WEB 51</h1>
    <p class="secret-text">What happens in Web 51, stays in Web 51</p>
    <p class="secret-text">Web 51 is a place only for autheniticated Users. </p>
    <p class="secret-text">Congratulations! You are our proud 'Stealth' Member! </p>
    

    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    
  </div>
</div>

<%- include('partials/footer') %>
